
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log

# Virtual Environment
rag_env/

# OS files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode
.vscode/
